@keyframes appear {
  from {
    opacity: 0;
    scale: 0.5;
  }
  to {
    opacity: 1;
    scale: 1;
  }
}

.block {
  animation: appear 0.5s ease-in-out;
}

.feature {
  animation: appear 0.5s ease-in-out;
  animation-timeline: view();
  animation-range: entry 0;
}
